.logocon {
  margin-left: auto;
  margin-right: auto;
}
#logo {
  width: 80%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 30px;
}
/* Replace "your-color" with the desired color value */
ion-icon {
  color: #b27600;
}
