<ion-content [fullscreen]="true" style="--ion-background-color: black">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-card style="width: 100%">
        <div class="container">
          <pre></pre>
          <div class="row">
            <div class="logocon">
              <ion-img src="assets/imgs/WODBOX ICON@2x.png" id="logo"></ion-img>
            </div>
          </div>
          <div class="row">
            <h1
              style="text-align: center; color: #b27600; font-size: xxx-large"
            >
              <b style="font-size:xxx-large ;color: #b25900;">W</b>OD<b style="font-size:xxx-large ; color: #b25900;">B</b>OX
            </h1>
          </div>
          <pre></pre>
          <div>
            <ion-input
              type="email"
              name="email"
              style="
                font-size: large;
                text-align: center;
                border: #b27600;
                border-style: solid;
                border-radius: 10px;
                width: 70%;
                height: 52px;
                margin-left: auto;
                margin-right: auto;
                background-color: transparent;
              "
              placeholder="Username"
              [(ngModel)]="email"
              type="email"
              required
            ></ion-input>
          </div>
          <pre></pre>
          <ion-row style="position: relative;">
            <ion-input
              type="{{ showPassword ? 'text' : 'password' }}"
              name="password"
              style="
                font-size: large;
                text-align: center;
                border: #b27600;
                border-style: solid;
                border-radius: 10px;
                height: 52px;
                width: calc(85% - 58px); /* Adjust the width as needed */
                margin-left: auto;
                margin-right: auto;
              "
              placeholder="Password"
              [(ngModel)]="password"
              required
            ></ion-input>
          
            <!-- Toggle button for showing/hiding password -->
            <ion-icon
              *ngIf="showPassword"
              (click)="togglePasswordVisibility()"
              name="eye-off"
              style="color: #b27600; cursor: pointer; position: absolute; right: 10px; top: 10px; height: 35px;"
            ></ion-icon>
            <ion-icon
              *ngIf="!showPassword"
              (click)="togglePasswordVisibility()"
              name="eye"
              style="color: #b27600; cursor: pointer; position: absolute; right: 10px; top: 10px; height: 35px;"
            ></ion-icon>
          </ion-row>
          
          
          <pre></pre>
          <div style="text-align: center">
            <button
              style="
                font-size: xx-large;
                margin-left: auto;
                margin-right: auto;
                border-radius: 10px;
                background-color: #b27600;
                width: 70%;
                height: 52px;
                font-weight: 500;
              "
              expand="full"
              (click)="login()"
            >
              Login
            </button>
          </div>
          <br />
          <div style="text-align: center; font-size: large">
            Start my fitness journey
            <a href="./signup" style="padding-left: 2%; color: #b27600"
              >New account</a
            >
          </div>
          <br />
          <div style="text-align: center; font-size: large">
            Forgot your password?<a
              href="./forgot-password"
              style="padding-left: 2%; color: #b27600"
              >YES</a
            >
          </div>
        </div>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
