.logocon{
    background-color:white;
    border-style: solid;
    width: 80%;
    height:auto;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
    border-color: #b27600;;
    border-style: solid;
    border-width: 4px;
}
#logo{
    width:80%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 30px;
}
/* Replace "your-color" with the desired color value */
ion-icon{
    color: #b27600 ;
  }
  