<ion-content class="daBack">
  <ion-grid *ngFor="let tabata of stabatas">
    <ion-row class="ion-justify-content-center" *ngIf="tabata.exet6m2">
      <video
        class="full-screen-video"
        *ngIf="tabata.exet6m2.videoUrl"
        autoplay
        loop
        muted
      >
        <source [src]="tabata.exet6m2.videoUrl" type="video/mp4" />
        <!-- Add more <source> elements for different video formats if needed -->
        Your browser does not support the video tag.
      </video>
    </ion-row>
  </ion-grid>
</ion-content>