
<ion-content [fullscreen]="true"  >
  <div class="daBack" 
  >
    <div class="col">
      <br />
      <button
        (click)="backtoWarmUp()"
        style="
          background-color: #b27600;
          border-radius: 5px;
          color: aliceblue;
          margin-left: 85%;
          width: 50px;
          height: 25px;
          display: flex;
          align-items: center;
        "
      >
        <ion-icon name="chevron-back-outline" style="margin-right: 1px;"></ion-icon>Back
      </button>
      <div class="col">
        <div class="logocon">
          <ion-img src="assets/imgs/WODBOX ICON@2x.png" id="logo"></ion-img>
        </div>
      </div>
    </div>
    
    <pre></pre>
    <div>
      <h1 class="wodhead" style="color: aliceblue">INTERVAL</h1>
    </div>
    <pre></pre>
    <ion-row>
      <ion-card style="width: 100%;" >
        <form [formGroup]="workoutForm" (ngSubmit)="onSubmit()">
          <div class="container">
            <ion-grid>
              <pre></pre>
              <ion-row>
                <ion-col style="padding-top: 13px; text-align: center;">
                  <ion-label style="font-size: x-large;">WOD Category</ion-label>
                </ion-col>
                <ion-col style="padding-left: 0px; text-align: center;">
                  <ion-select
                    placeholder="Select Category"
                    style="font-size: x-large; text-align: center; border-color: #b27600; border-style: solid; border-radius: 10px;"
                    formControlName="wodCat"
                    id="wodCat"
                    name="wodCat"
                  >
                    <ion-select-option value="Warm Up">Warm Up</ion-select-option>
                    <ion-select-option value="WOD">WOD</ion-select-option>
                  </ion-select>
                </ion-col>
                <ion-col style="padding-top: 13px;  text-align: center;">
                  <ion-label style="font-size: x-large; text-align: center">Rounds</ion-label
                >
                </ion-col>
                <ion-col style="padding-left: 0px;">
                  <ion-input
                  type="number"
                  id="rounds"
                  name="rounds"
                  style="
                    font-size: x-large;
                    text-align: center;
                    border-color: #b27600; border-style: solid; 
                    border-radius: 10px;
                  "
                  placeholder="Select Rounds"
                  formControlName="rounds"
                  id="rounds"
                  [(ngModel)]="selectedNumber"
                  max="4"
                  min="1"
                >
                </ion-input>
                </ion-col>
                <ion-col style="padding-top: 13px; text-align: center;">
                  <ion-label style="font-size: x-large; text-align: center">MPR</ion-label>
                </ion-col>
                <ion-col style="padding-left: 0px;">
                  <ion-input
                  type="number"
                  name="mpr"
                  id="mpr"
                  style="
                    font-size: x-large;
                    padding-left: 0px;
                    text-align: center;
                    border-color: #b27600; border-style: solid; 
                    border-radius: 10px;
                  "
                  placeholder="Select MPR"
                  formControlName="mpr"
                  id="mpr"
                  [(ngModel)]="mprs"
                  max="3"
                  min="1"
                ></ion-input>
                </ion-col>
              </ion-row>
              <pre></pre>
              <ion-row *ngIf="selectedNumber > 0">
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                  >Round 1</ion-label
                >
                <ion-row style="width: 100%;" >
                  <ion-col *ngIf="mprs > 0" style="padding-left: 15%;" >
                    <ion-select
                      placeholder="M1"
                      name="r1m1"
                      id="r1m1"
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                      "
                      formControlName="r1m1"
                      id="r1m1"
                    >
                      <ion-select-option
                        *ngFor="let move of moves"
                        [value]="move.exeName"
                        >{{move.exeName}}</ion-select-option
                      >
                    </ion-select>
                  </ion-col>
                  <ion-col *ngIf="mprs > 1">
                    <ion-select
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                      "
                      placeholder="M2"
                      name="r1m2"
                      id="r1m2"
                      formControlName="r1m2"
                    >
                      <ion-select-option
                        *ngFor="let move of moves"
                        [value]="move.exeName"
                        >{{move.exeName}}</ion-select-option
                      >
                    </ion-select>
                  </ion-col>
                  <ion-col *ngIf="mprs > 2">
                    <ion-select
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                      "
                      placeholder="M3"
                      name="r1m3"
                      id="r1m3"
                      formControlName="r1m3"
                    >
                      <ion-select-option
                        *ngFor="let move of moves"
                        [value]="move.exeName"
                        >{{move.exeName}}</ion-select-option
                      ></ion-select
                    >
                  </ion-col>
                </ion-row>
                <pre></pre>
                <ion-row style="width: 100%;">
                  <ion-col style=" text-align: center;">
                    <ion-label  style="font-size: x-large; text-align: center; width: 100%">Sets</ion-label>
                    <ion-input
                      type="number"
                      name="r1sets"
                      id="r1sets"
                      placeholder="Sets"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      max="8"
                      min="1"
                      formControlName="r1sets"
                    >
                    </ion-input>
                  </ion-col>

                  <ion-col style=" text-align: center;">
                    <ion-label  style="font-size: x-large; text-align: center; width: 100%">Move</ion-label>
                    <ion-input
                      type="number"
                      name="r1move"
                      id="r1move"
                      style="
                          font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      min="1"
                      
                      formControlName="r1move"
                    />
                  </ion-col>
                  <ion-col style=" text-align: center;">
                    <ion-label  style="font-size: x-large; text-align: center; width: 100%">Rest</ion-label>
                    <ion-input
                      type="number"
                      name="r1rest"
                      id="r1rest"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      min="1"
                   
                      formControlName="r1rest"
                    />
                  </ion-col>
                </ion-row>
              </ion-row>
              <pre></pre>
              <!--Round 2-->
              <ion-row *ngIf="selectedNumber > 1">
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                  >Round 2</ion-label
                >
                <ion-row style="width: 100%;">
                  <ion-col *ngIf="mprs>0" style="padding-left: 15%;">
                    <ion-select
                      placeholder="M1"
                      name="r2m1"
                      id="r2m1"
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                      "
                      formControlName="r2m1"
                    >
                      <ion-select-option
                        *ngFor="let move of moves"
                        [value]="move.exeName"
                        >{{move.exeName}}</ion-select-option
                      >
                    </ion-select>
                  </ion-col>
                  <ion-col *ngIf="mprs > 1">
                    <ion-select
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                      "
                      placeholder="M2"
                      name="r2m2"
                      id="r2m2"
                      formControlName="r2m2"
                    >
                      <ion-select-option
                        *ngFor="let move of moves"
                        [value]="move.exeName"
                        >{{move.exeName}}</ion-select-option
                      ></ion-select
                    >
                  </ion-col>
                  <ion-col *ngIf="mprs > 2">
                    <ion-select
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                      "
                      placeholder="M3"
                      name="r2m3"
                      id="r2m3"
                      formControlName="r2m3"
                    >
                      <ion-select-option
                        *ngFor="let move of moves"
                        [value]="move.exeName"
                        >{{move.exeName}}</ion-select-option
                      ></ion-select
                    >
                  </ion-col>
                </ion-row>
                <pre></pre>
                <ion-row style="width: 100%;">
                  <ion-col style="text-align: center;">
                    <ion-label style="font-size: x-large; text-align: center; width: 100%">Sets</ion-label>
                    <ion-input
                      type="number"
                      name="r2sets"
                      id="r2sets"
                      placeholder="Sets"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      max="8"
                      min="1"
                      formControlName="r2sets"
                    >
                    </ion-input>
                  </ion-col>

                  <ion-col style="text-align: center;">
                    <ion-label style="font-size: x-large; text-align: center; width: 100%">Move</ion-label>
                    <ion-input
                      formControlName="r2move"
                      type="number"
                      name="r2move"
                      id="r2move"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      min="1"
                  
                    />
                  </ion-col>
                  <ion-col style="text-align: center;">
                    <ion-label style="font-size: x-large; text-align: center; width: 100%">Rest</ion-label>
                    <ion-input
                      formControlName="r2rest"
                      type="number"
                      name="r2rest"
                      id="r2rest"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      min="1"
                    
                    />
                  </ion-col>
                </ion-row>
              </ion-row>
              <pre></pre>
              <!--Round 3-->
              <ion-row *ngIf="selectedNumber > 2">
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                  >Round 3</ion-label
                >
                <ion-row style="width: 100%;">
                  <ion-col *ngIf="mprs > 0" style="padding-left: 15%;">
                    <ion-select
                      placeholder="M1"
                      name="r3m1"
                      id="r3m1"
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                      "
                      formControlName="r3m1"
                    >
                      <ion-select-option
                        *ngFor="let move of moves"
                        [value]="move.exeName"
                        >{{move.exeName}}</ion-select-option
                      >
                    </ion-select>
                  </ion-col>
                  <ion-col *ngIf="mprs > 1">
                    <ion-select
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                      "
                      placeholder="M2"
                      name="r3m2"
                      id="r3m2"
                      formControlName="r3m2"
                    >
                      <ion-select-option
                        *ngFor="let move of moves"
                        [value]="move.exeName"
                        >{{move.exeName}}</ion-select-option
                      ></ion-select
                    >
                  </ion-col>
                  <ion-col *ngIf="mprs > 2">
                    <ion-select
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                      "
                      placeholder="M3"
                      name="r3m3"
                      id="r3m3"
                      formControlName="r3m3"
                    >
                      <ion-select-option
                        *ngFor="let move of moves"
                        [value]="move.exeName"
                        >{{move.exeName}}</ion-select-option
                      ></ion-select
                    >
                  </ion-col>
                </ion-row>
                <pre></pre>
                <ion-row style="width: 100%;">
                  <ion-col style="text-align: center;">
                    <ion-label style="font-size: x-large; text-align: center; width: 100%">Sets</ion-label>
                    <ion-input
                      type="number"
                      name="r3sets"
                      id="r3sets"
                      placeholder="Sets"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                       max="8"
                       min="1"
                      formControlName="r3sets"
                    >
                    </ion-input>
                  </ion-col>

                  <ion-col style="text-align: center;">
                    <ion-label style="font-size: x-large; text-align: center; width: 100%">Move</ion-label>
                    <ion-input
                      formControlName="r3move"
                      type="number"
                      name="r3move"
                      id="r3move"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      min="1"
                    
                    />
                  </ion-col>
                  <ion-col style="text-align: center;">
                    <ion-label style="font-size: x-large; text-align: center; width: 100%">Rest</ion-label>
                    <ion-input
                      formControlName="r3rest"
                      type="number"
                      name="r3rest"
                      id="r3rest"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      min="1"
                    
                    />
                  </ion-col>
                </ion-row>
              </ion-row>
              <pre></pre>
              <!--round 4-->
              <ion-row *ngIf="selectedNumber > 3">
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                  >Round 4</ion-label
                >
                <ion-row style="width: 100%;">
                  <ion-col *ngIf="mprs>0" style="padding-left: 15%;">
                    <ion-select
                      placeholder="M1"
                      name="r4m1"
                      id="r4m1"
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                      "
                      formControlName="r4m1"
                      id="r4m1"
                    >
                      <ion-select-option
                        *ngFor="let move of moves"
                        [value]="move.exeName"
                        >{{move.exeName}}</ion-select-option
                      >
                    </ion-select>
                  </ion-col>
                  <ion-col *ngIf="mprs > 1">
                    <ion-select
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                      "
                      placeholder="M2"
                      name="r4m2"
                      id="r4m2"
                      formControlName="r4m2"
                      id="r4m2"
                    >
                      <ion-select-option
                        *ngFor="let move of moves"
                        [value]="move.exeName"
                        >{{move.exeName}}</ion-select-option
                      ></ion-select
                    >
                  </ion-col>
                  <ion-col *ngIf="mprs > 2">
                    <ion-select
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                      "
                      placeholder="M3"
                      name="r4m3"
                      id="r4m3"
                      formControlName="r4m3"
                      id="r4m3"
                    >
                      <ion-select-option
                        *ngFor="let move of moves"
                        [value]="move.exeName"
                        >{{move.exeName}}</ion-select-option
                      ></ion-select
                    >
                  </ion-col>
                </ion-row>
                <pre></pre>
                <ion-row style="width: 100%;">
                  <ion-col style="text-align: center;">
                    <ion-label style="font-size: x-large; text-align: center; width: 100%">Sets</ion-label>
                    <ion-input
                      type="number"
                      name="r4sets"
                      id="r4sets"
                      placeholder="Sets"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                       max="8"
                       min="1"
                      formControlName="r4sets"
                      id="r4sets"
                    >
                    </ion-input>
                  </ion-col>

                  <ion-col style="text-align: center;">
                    <ion-label style="font-size: x-large; text-align: center; width: 100%">Move</ion-label>
                    <ion-input
                      formControlName="r4move"
                      id="r4move"
                      type="number"
                      name="r4move"
                      id="r4move"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      min="1"
               
                    />
                  </ion-col>
                  <ion-col style="text-align: center;">
                    <ion-label style="font-size: x-large; text-align: center; width: 100%">Rest</ion-label>
                    <ion-input
                      formControlName="r4rest"
                      id="r4rest"
                      type="number"
                      name="r4rest"
                      id="r4rest"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      placeholder="rest sec"
                      min="1"
                   
                    />
                  </ion-col>
                </ion-row>
              </ion-row>
              <pre></pre>
              <ion-row>
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                  >Select a Date:</ion-label
                >
                <ion-input
                  style="font-size: x-large; text-align: center; color: #b27600"
                  type="datetime-local"
                  name="daDate"
                  id="daDate"
                  formControlName="daDate"
                  id="daDate"
                ></ion-input>
              </ion-row>
              <pre></pre>
              <ion-row>
                <div style="text-align: center">
                  <pre></pre>
                </div>
              </ion-row>
            </ion-grid>
          </div>
          <div style="text-align: center">
            <ion-button
              style="
                font-size: xxx-large;
                margin-left: auto;
                margin-right: auto;
                border-radius: 10%;
                background-color: aliceblue;
              "
              type="submit"
              [disabled]="!workoutForm.valid"
              >Add WOD</ion-button
            >
            <pre></pre>
          </div>
        </form>
      </ion-card>
    </ion-row>
  </div>
</ion-content>
