<ion-content [fullscreen]="true">
  <div class="daBackf">
    <div class="col">
      <br />
      <button
        (click)="backtoWarmUp()"
        style="
          background-color: #b27600;
          border-radius: 5px;
          color: aliceblue;
          margin-left: 85%;
          width: 50px;
          height: 25px;
          display: flex;
          align-items: center;
        "
      >
        <ion-icon
          name="chevron-back-outline"
          style="margin-right: 1px"
        ></ion-icon
        >Back
      </button>
      <div class="col">
        <div class="logocon">
          <ion-img src="assets/imgs/WODBOX ICON@2x.png" id="logo"></ion-img>
        </div>
      </div>
    </div>

    <pre></pre>
    <div>
      <h1 class="wodhead" style="color: aliceblue">INTERVAL</h1>
    </div>
    <pre></pre>
    <ion-row>
      <ion-card style="width: 100%; --ion-background-color: white">
       
          <div class="container">
            <ion-grid>
              <pre></pre>
              <ion-row>
                <ion-label
                  style="
                    font-size: x-large;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                  "
                  >WOD Category</ion-label
                >
              </ion-row>
              <ion-row style="padding-left: 0px; text-align: center">
                <div style="margin-left: auto; margin-right: auto">
                  <ion-select
                    placeholder="Select Category"
                    style="font-size: x-large; text-align: center"
                    [(ngModel)]="initForm.wodCat"
                    id="wodCat"
                    name="wodCat"
                  >
                    <ion-select-option value="Warm Up"
                      >Warm Up</ion-select-option
                    >
                    <ion-select-option value="WOD">WOD</ion-select-option>
                  </ion-select>
                </div>
              </ion-row>
              <pre></pre>
              <ion-row>
                <ion-label
                  style="
                    font-size: x-large;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                  "
                  >Rounds</ion-label
                >
              </ion-row>
              <ion-row>
                <ion-input
                  type="number"
                  id="rounds"
                  name="rounds"
                  style="
                    font-size: x-large;
                    text-align: center;
                    border-color: #b27600;
                    border-style: solid;
                    border-radius: 10px;
                  "
                  placeholder="Select Rounds"
                  [(ngModel)]="selectedNumber"
                  (ngModelChange)="onNumberChange($event)"
                  max="4"
                  min="1"
                  [value]="selectedNumber === null ? '' : selectedNumber"
                >
                </ion-input>
              </ion-row>
              <pre></pre>
              <ion-row>
                <ion-label
                  style="
                    font-size: x-large;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                  "
                  >MPR</ion-label
                >
              </ion-row>
              <ion-row>
                <ion-input
                  type="number"
                  name="mpr"
                  id="mpr"
                  style="
                    font-size: x-large;
                    padding-left: 0px;
                    text-align: center;
                    border-color: #b27600;
                    border-style: solid;
                    border-radius: 10px;
                  "
                  placeholder="Select MPR"
                  
                  id="mpr"
                  [(ngModel)]="mprs"
                  [(ngModel)]="initForm.mpr"
                  max="3"
                  min="1"
                ></ion-input>
              </ion-row>
              <pre></pre>
              <!--Round 1-->
              <ion-row *ngIf="selectedNumber !== null && selectedNumber > 0">
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                  >Round 1</ion-label
                >
                <ion-row class="ion-justify-content-center" style="width: 100%">
                  <ion-col *ngIf="mprs > 0" style="width: 30%;">
                    <ion-input
                      placeholder="M1"
                      name="r1m1"
                      id="r1m1"
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                        border-color: #b27600;
                        border-style: solid;
                        border-radius: 10px;
                      "
                      [(ngModel)]="initForm.r1m1"
                      (click)="openMoveSelection('r1m1')"
                      readonly
                    ></ion-input>
                  </ion-col>
                
                  <ion-col *ngIf="mprs > 1" style="width: 30%;">
                    <ion-input
                      placeholder="M2"
                      name="r1m2"
                      id="r1m2"
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                        border-color: #b27600;
                        border-style: solid;
                        border-radius: 10px;
                      "
                      [(ngModel)]="initForm.r1m2"
                      (click)="openMoveSelection('r1m2')"
                      readonly
                    ></ion-input>
                  </ion-col>
                
                  <ion-col *ngIf="mprs > 2" style="width: 30%;">
                    <ion-input
                      placeholder="M3"
                      name="r1m3"
                      id="r1m3"
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                        border-color: #b27600;
                        border-style: solid;
                        border-radius: 10px;
                      "
                      [(ngModel)]="initForm.r1m3"
                      (click)="openMoveSelection('r1m3')"
                      readonly
                    ></ion-input>
                  </ion-col>
                </ion-row>
                
                <pre></pre>
                <ion-row style="width: 100%">
                  <ion-col style="text-align: center">
                    <ion-label
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                      "
                      >Sets</ion-label
                    >
                    <ion-input
                      type="number"
                      name="r1sets"
                      id="r1sets"
                      placeholder="sets"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      max="8"
                      min="1"
                      [(ngModel)]="initForm.r1sets"
                    >
                    </ion-input>
                  </ion-col>

                  <ion-col style="text-align: center">
                    <ion-label
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                      "
                      >Move</ion-label
                    >
                    <ion-input
                      type="number"
                      name="r1move"
                      id="r1move"
                      placeholder="move"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      min="1"
                      [(ngModel)]="initForm.r1move"
                    />
                  </ion-col>
                  <ion-col style="text-align: center">
                    <ion-label
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                      "
                      >Rest</ion-label
                    >
                    <ion-input
                      type="number"
                      name="r1rest"
                      placeholder="rest"
                      id="r1rest"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      min="1"
                      [(ngModel)]="initForm.r1rest"
                    />
                  </ion-col>
                </ion-row>
              </ion-row>
              <pre></pre>
              <!--Round 2-->
              <ion-row *ngIf="selectedNumber !== null && selectedNumber > 1">
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                  >Round 2</ion-label
                >
                <ion-row class="ion-justify-content-center" style="width: 100%">
                  <ion-col *ngIf="mprs > 0" style="width: 30%;">
                    <ion-input
                      placeholder="M1"
                      name="r2m1"
                      id="r2m1"
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                        border-color: #b27600;
                        border-style: solid;
                        border-radius: 10px;
                      "
                      [(ngModel)]="initForm.r2m1"
                      (click)="openMoveSelection('r2m1')"
                      readonly
                    ></ion-input>
                  </ion-col>
                
                  <ion-col *ngIf="mprs > 1" style="width: 30%;">
                    <ion-input
                      placeholder="M2"
                      name="r2m2"
                      id="r2m2"
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                        border-color: #b27600;
                        border-style: solid;
                        border-radius: 10px;
                      "
                      [(ngModel)]="initForm.r2m2"
                      (click)="openMoveSelection('r2m2')"
                      readonly
                    ></ion-input>
                  </ion-col>
                
                  <ion-col *ngIf="mprs > 2" style="width: 30%;">
                    <ion-input
                      placeholder="M3"
                      name="r2m3"
                      id="r2m3"
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                        border-color: #b27600;
                        border-style: solid;
                        border-radius: 10px;
                      "
                      [(ngModel)]="initForm.r2m3"
                      (click)="openMoveSelection('r2m3')"
                      readonly
                    ></ion-input>
                  </ion-col>
                </ion-row>
                <pre></pre>
                <ion-row style="width: 100%">
                  <ion-col style="text-align: center">
                    <ion-label
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                      "
                      >Sets</ion-label
                    >
                    <ion-input
                      type="number"
                      name="r2sets"
                      id="r2sets"
                      placeholder="sets"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      max="8"
                      min="1"
                      [(ngModel)]="initForm.r2sets"
                    >
                    </ion-input>
                  </ion-col>

                  <ion-col style="text-align: center">
                    <ion-label
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                      "
                      >Move</ion-label
                    >
                    <ion-input
                    [(ngModel)]="initForm.r2move"
                      type="number"
                      name="r2move"
                      placeholder="move"
                      id="r2move"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      min="1"
                    />
                  </ion-col>
                  <ion-col style="text-align: center">
                    <ion-label
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                      "
                      >Rest</ion-label
                    >
                    <ion-input
                    [(ngModel)]="initForm.r2rest"
                      type="number"
                      name="r2rest"
                      placeholder="rest"
                      id="r2rest"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      min="1"
                    />
                  </ion-col>
                </ion-row>
              </ion-row>
              <pre></pre>
              <!--Round 3-->
              <ion-row *ngIf="selectedNumber !== null && selectedNumber > 2">
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                  >Round 3</ion-label
                >
                <ion-row class="ion-justify-content-center" style="width: 100%">
                  <ion-col *ngIf="mprs > 0" style="width: 30%;">
                    <ion-input
                      placeholder="M1"
                      name="r3m1"
                      id="r3m1"
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                        border-color: #b27600;
                        border-style: solid;
                        border-radius: 10px;
                      "
                      [(ngModel)]="initForm.r3m1"
                      (click)="openMoveSelection('r3m1')"
                      readonly
                    ></ion-input>
                  </ion-col>
                
                  <ion-col *ngIf="mprs > 1" style="width: 30%;">
                    <ion-input
                      placeholder="M2"
                      name="r3m2"
                      id="r3m2"
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                        border-color: #b27600;
                        border-style: solid;
                        border-radius: 10px;
                      "
                      [(ngModel)]="initForm.r3m2"
                      (click)="openMoveSelection('r3m2')"
                      readonly
                    ></ion-input>
                  </ion-col>
                
                  <ion-col *ngIf="mprs > 2" style="width: 30%;">
                    <ion-input
                      placeholder="M3"
                      name="r3m3"
                      id="r3m3"
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                        border-color: #b27600;
                        border-style: solid;
                        border-radius: 10px;
                      "
                      [(ngModel)]="initForm.r3m3"
                      (click)="openMoveSelection('r3m3')"
                      readonly
                    ></ion-input>
                  </ion-col>
                </ion-row>
                <pre></pre>
                <ion-row style="width: 100%">
                  <ion-col style="text-align: center">
                    <ion-label
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                      "
                      >Sets</ion-label
                    >
                    <ion-input
                      type="number"
                      name="r3sets"
                      id="r3sets"
                      placeholder="sets"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      max="8"
                      min="1"
                      [(ngModel)]="initForm.r3sets"
                    >
                    </ion-input>
                  </ion-col>

                  <ion-col style="text-align: center">
                    <ion-label
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                      "
                      >Move</ion-label
                    >
                    <ion-input
                    [(ngModel)]="initForm.r3move"
                      type="number"
                      placeholder="move"
                      name="r3move"
                      id="r3move"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      min="1"
                    />
                  </ion-col>
                  <ion-col style="text-align: center">
                    <ion-label
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                      "
                      >Rest</ion-label
                    >
                    <ion-input
                    [(ngModel)]="initForm.r3rest"
                      type="number"
                      name="r3rest"
                      id="r3rest"
                      placeholder="rest"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      min="1"
                    />
                  </ion-col>
                </ion-row>
              </ion-row>
              <pre></pre>
              <!--round 4-->
              <ion-row *ngIf="selectedNumber !== null && selectedNumber > 3">
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                  >Round 4</ion-label
                >
                <ion-row class="ion-justify-content-center" style="width: 100%">
                  <ion-col *ngIf="mprs > 0" style="width: 30%;">
                    <ion-input
                      placeholder="M1"
                      name="r4m1"
                      id="r4m1"
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                        border-color: #b27600;
                        border-style: solid;
                        border-radius: 10px;
                      "
                      [(ngModel)]="initForm.r4m1"
                      (click)="openMoveSelection('r4m1')"
                      readonly
                    ></ion-input>
                  </ion-col>
                
                  <ion-col *ngIf="mprs > 1" style="width: 30%;">
                    <ion-input
                      placeholder="M2"
                      name="r4m2"
                      id="r4m2"
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                        border-color: #b27600;
                        border-style: solid;
                        border-radius: 10px;
                      "
                      [(ngModel)]="initForm.r4m2"
                      (click)="openMoveSelection('r4m2')"
                      readonly
                    ></ion-input>
                  </ion-col>
                
                  <ion-col *ngIf="mprs > 2" style="width: 30%;">
                    <ion-input
                      placeholder="M3"
                      name="r4m3"
                      id="r4m3"
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                        border-color: #b27600;
                        border-style: solid;
                        border-radius: 10px;
                      "
                      [(ngModel)]="initForm.r4m3"
                      (click)="openMoveSelection('r4m3')"
                      readonly
                    ></ion-input>
                  </ion-col>
                </ion-row>
                <pre></pre>
                <ion-row style="width: 100%">
                  <ion-col style="text-align: center">
                    <ion-label
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                      "
                      >Sets</ion-label
                    >
                    <ion-input
                      type="number"
                      name="r4sets"
                      id="r4sets"
                      placeholder="sets"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      max="8"
                      min="1"
                     [(ngModel)]="initForm.r4sets"
                      id="r4sets"
                    >
                    </ion-input>
                  </ion-col>

                  <ion-col style="text-align: center">
                    <ion-label
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                      "
                      >Move</ion-label
                    >
                    <ion-input
                    [(ngModel)]="initForm.r4move"
                      id="r4move"
                      type="number"
                      placeholder="move"
                      name="r4move"
                      id="r4move"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      min="1"
                    />
                  </ion-col>
                  <ion-col style="text-align: center">
                    <ion-label
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                      "
                      >Rest</ion-label
                    >
                    <ion-input
                    [(ngModel)]="initForm.r4rest"
                      id="r4rest"
                      type="number"
                      placeholder="rest"
                      name="r4rest"
                      id="r4rest"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                 
                      min="1"
                    />
                  </ion-col>
                </ion-row>
              </ion-row>
              
              <div *ngIf="showErrorCard" class="error-card">
                <div class="error-message">
                  A Wod with the same date and category already exists.
                </div>
                <button (click)="hideErrorCard()" class="close-btn">Close</button>
              </div>
              
              <ion-row class="ion-justify-content-center ion-align-items-center">
                <ion-row class="ion-justify-content-center" style="width: 100%;">
                  <ion-label style="font-size: x-large; display: block;">Select a Date:</ion-label>
                </ion-row>
                <ion-row>
                  <div style="margin-left: auto;margin-right: auto;">
                    <ion-input
                    style="font-size: x-large; text-align: center; color: #b27600;"
                    type="date"
                    name="daDate"
                    id="daDate"
                    [(ngModel)]="initForm.daDate"
                  ></ion-input>
                  </div>
                </ion-row>
              </ion-row>
            </ion-grid>
          </div>
          <div style="text-align: center">
            <ion-button
              style="
                font-size: xx-large;
                margin-left: auto;
                margin-right: auto;
                border-radius: 10%;
                background-color: aliceblue;
              "
              type="submit"
              [disabled]="!initForm.wodCat || !initForm.daDate || !initForm.r1m1"
              (click)="submitForm()"
              >Add WOD</ion-button
            >
            <pre></pre>
          </div>
      </ion-card>
    </ion-row>
  </div>
</ion-content>
