<ion-content [fullscreen]="true">
  <div class="daBack">
    <div class="col">
      <br />
      <button
        (click)="towodstyle()"
        style="
          background-color: #b27600;
          border-radius: 5px;
          color: aliceblue;
          margin-left: 85%;
          width: 50px;
          height: 25px;
          display: flex;
          align-items: center;
        "
      >
        <ion-icon
          name="chevron-back-outline"
          style="margin-right: 1px"
        ></ion-icon
        >Back
      </button>
      <div class="col">
        <div class="logocon">
          <ion-img src="assets/imgs/WODBOX ICON@2x.png" id="logo"></ion-img>
        </div>
      </div>
    </div>

    <pre></pre>
    <div>
      <h1 class="wodhead" style="color: aliceblue">LADDER</h1>
    </div>
    <pre></pre>
    <ion-row>
      <ion-card style="width: 100%; --ion-background-color: white">
        <div class="container">
          <ion-grid>
            <pre></pre>
            <ion-row>
              <ion-label
                style="font-size: x-large; text-align: center; width: 100%"
                >WOD Category</ion-label
              >
            </ion-row>

            <ion-row>
              <div style="margin-left: auto; margin-right: auto">
                <ion-select
                  placeholder="Select Category"
                  style="font-size: x-large; text-align: center; width: 100%"
                  id="wodCat"
                  type="text"
                  name="wodCat"
                  [(ngModel)]="ladderData.wodCat"
                  required
                >
                  <ion-select-option value="Warm Up" style="text-align: center"
                    >Warm Up</ion-select-option
                  >
                  <ion-select-option value="WOD">WOD</ion-select-option>
                </ion-select>
              </div>
            </ion-row>
            <pre></pre>
            <ion-row style="text-align: center">
              <ion-col>
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                  >Ladder Number</ion-label
                >
              </ion-col>
              <ion-col>
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                  >MPL</ion-label
                >
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div style="margin-left: auto; margin-right: auto">
                  <ion-input
                    placeholder="0"
                    style="font-size: x-large; text-align: center; width: 100%"
                    type="number"
                    name="laddernums"
                    [(ngModel)]="numladder"
                    (ngModelChange)="onNumberChange($event)"
                    max="3"
                    min="1"
                    [value]="numladder === null ? '' : numladder"
                    required
                  >
                  </ion-input>
                </div>
              </ion-col>
              <ion-col>
                <div style="margin-left: auto; margin-right: auto">
                  <ion-input
                    placeholder="0"
                    style="font-size: x-large; text-align: center; width: 100%"
                    type="number"
                    [(ngModel)]="mpls"
                    [(ngModel)]="ladderData.mpl"
                    max="4"
                    min="2"
                    name="mpl"
                    required
                  >
                  </ion-input>
                </div>
              </ion-col>
            </ion-row>
            <pre></pre>

            <ion-row>
              <ion-label
                style="font-size: x-large; text-align: center; width: 100%"
                >Ladder 1</ion-label
              >
            </ion-row>
            <pre></pre>
            <ion-row>
              <ion-label
                style="font-size: x-large; text-align: center; width: 100%"
                >Move(mins)</ion-label
              >
              <ion-input
                placeholder="0"
                style="font-size: x-large; text-align: center; width: 100%"
                type="number"
                placeholder="0" 
                [(ngModel)]="ladderData.l1move"
              ></ion-input>
            </ion-row>
            <ion-row
              class="ion-justify-content-center"
              style="text-align: center"
            >
              <ion-col *ngIf="mpls > 0" style="text-align: center; width: 50%">
                <ion-input
                placeholder="M1"
                [(ngModel)]="ladderData.l1m1"
                (click)="openMoveSelection('l1m1')"
                readonly
                style="
                  font-size: x-large;
                  text-align: center;
                  width: 100%;
                  color: #b27600;
                  padding-left: 30%;
                  border-color: #b27600; /* Border color */
                  border-style: solid;   /* Border style */
                  border-radius: 10px;   /* Border radius */
                  border-width: 2px;     /* Border width */
                "
              ></ion-input>
              </ion-col>
              <!--l1m2-->
              <ion-col *ngIf="mpls>=1" style="text-align: center; width: 50%">
                <ion-input
                placeholder="M2"
                [(ngModel)]="ladderData.l1m2"
                (click)="openMoveSelection('l1m2')"
                readonly
                style="
                  font-size: x-large;
                  text-align: center;
                  width: 100%;
                  color: #b27600;
                  padding-left: 30%;
                  border-color: #b27600; /* Border color */
                  border-style: solid;   /* Border style */
                  border-radius: 10px;   /* Border radius */
                  border-width: 2px;     /* Border width */
                "
              ></ion-input>
              </ion-col>
              <!--l1m3-->
              <ion-col *ngIf="mpls>2" style="text-align: center; width: 50%">
                <ion-input
                placeholder="M3"
                [(ngModel)]="ladderData.l1m3"
                (click)="openMoveSelection('l1m3')"
                readonly
                style="
                  font-size: x-large;
                  text-align: center;
                  width: 100%;
                  color: #b27600;
                  padding-left: 30%;
                  border-color: #b27600; /* Border color */
                  border-style: solid;   /* Border style */
                  border-radius: 10px;   /* Border radius */
                  border-width: 2px;     /* Border width */
                "
              ></ion-input>
              </ion-col>
              <!--l1m4-->
              <ion-col *ngIf="mpls>3" style="text-align: center; width: 50%">
                <ion-input
                placeholder="M4"
                [(ngModel)]="ladderData.l1m4"
                (click)="openMoveSelection('l1m4')"
                readonly
                style="
                  font-size: x-large;
                  text-align: center;
                  width: 100%;
                  color: #b27600;
                  padding-left: 30%;
                  border-color: #b27600; /* Border color */
                  border-style: solid;   /* Border style */
                  border-radius: 10px;   /* Border radius */
                  border-width: 2px;     /* Border width */
                "
              ></ion-input>
              </ion-col>
            </ion-row>
            <!--l2-->
            <pre></pre>
            <div id="t2" *ngIf="numladder !== null && numladder >1">
              <ion-row>
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                  >Ladder 2</ion-label
                >
              </ion-row>
              <pre></pre>
              <ion-row>
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                  >Move(mins)</ion-label
                >
                <ion-input
                  placeholder="0"
                  style="font-size: x-large; text-align: center; width: 100%"
                  type="number"
                  placeholder="0" 
                  [(ngModel)]="ladderData.l2move"
                ></ion-input>
              </ion-row>
              <ion-row
                class="ion-justify-content-center"
                style="text-align: center"
              >
                <ion-col *ngIf="mpls>0" style="text-align: center; width: 50%">
                  <ion-input
                  placeholder="M1"
                  [(ngModel)]="ladderData.l2m1"
                  (click)="openMoveSelection('l2m1')"
                  readonly
                  style="
                    font-size: x-large;
                    text-align: center;
                    width: 100%;
                    color: #b27600;
                    padding-left: 30%;
                    border-color: #b27600; /* Border color */
                    border-style: solid;   /* Border style */
                    border-radius: 10px;   /* Border radius */
                    border-width: 2px;     /* Border width */
                  "
                ></ion-input>
                </ion-col>

                <ion-col *ngIf="mpls>1" style="text-align: center; width: 50%">
                  <ion-input
                  placeholder="M2"
                  [(ngModel)]="ladderData.l2m2"
                  (click)="openMoveSelection('l2m2')"
                  readonly
                  style="
                    font-size: x-large;
                    text-align: center;
                    width: 100%;
                    color: #b27600;
                    padding-left: 30%;
                    border-color: #b27600; /* Border color */
                    border-style: solid;   /* Border style */
                    border-radius: 10px;   /* Border radius */
                    border-width: 2px;     /* Border width */
                  "
                ></ion-input>
                </ion-col>
                <ion-col *ngIf="mpls>2" style="text-align: center; width: 50%">
                  <ion-input
                  placeholder="M3"
                  [(ngModel)]="ladderData.l2m3"
                  (click)="openMoveSelection('l2m3')"
                  readonly
                  style="
                    font-size: x-large;
                    text-align: center;
                    width: 100%;
                    color: #b27600;
                    padding-left: 30%;
                    border-color: #b27600; /* Border color */
                    border-style: solid;   /* Border style */
                    border-radius: 10px;   /* Border radius */
                    border-width: 2px;     /* Border width */
                  "
                ></ion-input>
                </ion-col>
                <ion-col *ngIf="mpls>3" style="text-align: center; width: 50%">
                  <ion-input
                  placeholder="M4"
                  [(ngModel)]="ladderData.l2m4"
                  (click)="openMoveSelection('l2m4')"
                  readonly
                  style="
                    font-size: x-large;
                    text-align: center;
                    width: 100%;
                    color: #b27600;
                    padding-left: 30%;
                    border-color: #b27600; /* Border color */
                    border-style: solid;   /* Border style */
                    border-radius: 10px;   /* Border radius */
                    border-width: 2px;     /* Border width */
                  "
                ></ion-input>
                </ion-col>
              </ion-row>
              <ion-row> </ion-row>
            </div>
            <!--lm3-->
            <pre></pre>
            <div id="t3" *ngIf="numladder !== null && numladder >2">
              <ion-row>
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                  >Ladder 3</ion-label
                >
              </ion-row>
              <pre></pre>
              <ion-row>
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                  >Move(mins)</ion-label
                >
                <ion-input
                  placeholder="0"
                  style="font-size: x-large; text-align: center; width: 100%"
                  type="number"
                  [(ngModel)]="ladderData.l3move"
                ></ion-input>
              </ion-row>
              <ion-row
                class="ion-justify-content-center"
                style="text-align: center"
              >
                <ion-col *ngIf="mpls>0" style="text-align: center; width: 50%">
                  <ion-input
                  placeholder="M1"
                  [(ngModel)]="ladderData.l3m1"
                  (click)="openMoveSelection('l3m1')"
                  readonly
                  style="
                    font-size: x-large;
                    text-align: center;
                    width: 100%;
                    color: #b27600;
                    padding-left: 30%;
                    border-color: #b27600; /* Border color */
                    border-style: solid;   /* Border style */
                    border-radius: 10px;   /* Border radius */
                    border-width: 2px;     /* Border width */
                  "
                ></ion-input>
                </ion-col>

                <ion-col *ngIf="mpls>1" style="text-align: center; width: 50%">
                  <ion-input
                  placeholder="M2"
                  [(ngModel)]="ladderData.l3m2"
                  (click)="openMoveSelection('l3m2')"
                  readonly
                  style="
                    font-size: x-large;
                    text-align: center;
                    width: 100%;
                    color: #b27600;
                    padding-left: 30%;
                    border-color: #b27600; /* Border color */
                    border-style: solid;   /* Border style */
                    border-radius: 10px;   /* Border radius */
                    border-width: 2px;     /* Border width */
                  "
                ></ion-input>
                </ion-col>
                <ion-col *ngIf="mpls>2" style="text-align: center; width: 50%">
                  <ion-input
                  placeholder="M3"
                  [(ngModel)]="ladderData.l3m3"
                  (click)="openMoveSelection('l3m3')"
                  readonly
                  style="
                    font-size: x-large;
                    text-align: center;
                    width: 100%;
                    color: #b27600;
                    padding-left: 30%;
                    border-color: #b27600; /* Border color */
                    border-style: solid;   /* Border style */
                    border-radius: 10px;   /* Border radius */
                    border-width: 2px;     /* Border width */
                  "
                ></ion-input>
                </ion-col>
                <ion-col *ngIf="mpls>3" style="text-align: center; width: 50%">
                  <ion-input
                  placeholder="M4"
                  [(ngModel)]="ladderData.l3m4"
                  (click)="openMoveSelection('l3m4')"
                  readonly
                  style="
                    font-size: x-large;
                    text-align: center;
                    width: 100%;
                    color: #b27600;
                    padding-left: 30%;
                    border-color: #b27600; /* Border color */
                    border-style: solid;   /* Border style */
                    border-radius: 10px;   /* Border radius */
                    border-width: 2px;     /* Border width */
                  "
                ></ion-input>
                </ion-col>
              </ion-row>
            </div>

            <pre></pre>
            <ion-row class="ion-justify-content-center ion-align-items-center">
              <ion-row class="ion-justify-content-center" style="width: 100%">
                <ion-label style="font-size: x-large; display: block"
                  >Select a Date:</ion-label
                >
              </ion-row>
              <ion-row>
                <div style="margin-left: auto; margin-right: auto">
                  <ion-input
                    style="
                      font-size: x-large;
                      text-align: center;
                      color: #b27600;
                    "
                    type="date"
                    name="daDate"
                    id="daDate"
                    [(ngModel)]="ladderData.daDate"
                  ></ion-input>
                </div>
              </ion-row>
            </ion-row>
            <div *ngIf="showErrorCard" class="error-card">
              <div class="error-message">
                A Wod with the same date and category already exists.
              </div>
              <button (click)="hideErrorCard()" class="close-btn">Close</button>
            </div>
            <ion-row>
              <div
                style="
                  text-align: center;
                  margin-left: auto;
                  margin-right: auto;
                "
              >
                <ion-button
                  style="
                    font-size: xx-large;
                    margin-left: auto;
                    margin-right: auto;
                    border-radius: 10%;
                    background-color: aliceblue;
                  "
                  type="submit"
                  [disabled]="!ladderData.wodCat || !ladderData.daDate || !ladderData.l1m1||!this.ladderData.l1move"
                  (click)="submitForm()"
                  >Add WOD</ion-button
                >
              </div>
            </ion-row>
          </ion-grid>
        </div>
      </ion-card>
    </ion-row>
  </div>
</ion-content>
