
<ion-content [fullscreen]="true">

  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-card style="width: 100%">
        
          <div class="container">
            <pre></pre>
            <div class="row">
              <div class="logocon">
                <ion-img
                src="assets/imgs/WODBOX ICON@2x.png"
                id="logo"
                ></ion-img>
              </div>
            </div>
            <div class="row">
              <h1 style="text-align: center; color: #b27600; font-size: xxx-large;">WODBOX</h1>
            </div>
            <pre></pre>
            <div style="text-align: center;">
              <ion-label style="text-align: center; font-size: x-large;color: #b27600;">Please enter an email addres</ion-label>
              <pre></pre>
              <ion-input
                type="email"
                name="email"
                style="font-size: x-large; text-align: center;border-style: solid;border-radius: 10px; width: 90%; border-color: #b27600; margin-left: auto; margin-right: auto; height: 52px;"
                placeholder="email address"
                [(ngModel)]="email" type="email"
                required
              ></ion-input>
            </div>
            <pre></pre>
            <div style="text-align: center">
              <button
                style="
                  font-size: xx-large;
                  margin-left: auto;
                  margin-right: auto;
                  border-radius: 10px;
                  background-color:#b27600;
                  width: 90%;
                  height: 70px;
                "
                expand="full" (click)="forgotPassword()"
                >Reset Password</button
              >
            </div>
            <br />
            <div style="text-align: center; font-size: large;">
              Dont have an accont?
              <a href="/signup" style="padding-left: 2%; color: #b27600;">Create account</a>
            </div>
            <br>
            <div style="text-align: center; font-size: large;">
              Already have an account?<a href="/login" style="padding-left: 2%; color: #b27600;">Login</a>
            </div>
          </div>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
