<ion-content [fullscreen]="true">
  <div class="daBack">
    <div class="col">
      <br />
      <button
        (click)="backtoWarmUp()"
        style="
          background-color: #b27600;
          border-radius: 5px;
          color: aliceblue;
          margin-left: 85%;
          width: 50px;
          height: 25px;
          display: flex;
          align-items: center;
        "
      >
        <ion-icon name="chevron-back-outline" style="margin-right: 1px;"></ion-icon>Back
      </button>
      <div class="col">
        <div class="logocon">
          <ion-img src="assets/imgs/WODBOX ICON@2x.png" id="logo"></ion-img>
        </div>
      </div>
    </div>

    <pre></pre>
    <div>
      <h1 class="wodhead" style="color: aliceblue">Choose a Style</h1>
    </div>
    <pre></pre>
    <ion-grid>
     <ion-row>
      <ion-col>
        <ion-button (click)="tointerval()" style="text-align: center; color: #b27600;">INTERVAL</ion-button>
      </ion-col>
      <ion-col><ion-button (click)="totabata()" style="text-align: center; color: #b27600;">TABATA</ion-button></ion-col>
     </ion-row> 
     <ion-row>
      <ion-col><ion-button (click)="toladder()" style="text-align: center;color: #b27600;">LADDER</ion-button></ion-col>
      <ion-col><ion-button (click)="toemom()" style="text-align: center;color: #b27600;">EMOM</ion-button></ion-col>
     </ion-row> 
     <ion-row>
      <ion-col><ion-button style="text-align: center;color: #b27600;">AMRAP</ion-button></ion-col>
     </ion-row> 
    </ion-grid>
   
  </div>
</ion-content>
