<ion-content [fullscreen]="true">
  <div class="daBack">
    <div class="col">
      <br />
      <button
        (click)="towodstyle()"
        style="
          background-color: #b27600;
          border-radius: 5px;
          color: aliceblue;
          margin-left: 85%;
          width: 50px;
          height: 25px;
          display: flex;
          align-items: center;
        "
      >
        <ion-icon
          name="chevron-back-outline"
          style="margin-right: 1px"
        ></ion-icon
        >Back
      </button>
      <div class="col">
        <div class="logocon">
          <ion-img src="assets/imgs/WODBOX ICON@2x.png" id="logo"></ion-img>
        </div>
      </div>
    </div>

    <pre></pre>
    <div>
      <h1 class="wodhead" style="color: aliceblue">TABATA</h1>
    </div>
    <pre></pre>
    <ion-row>
      <ion-card style="width: 100%; --ion-background-color: white">
        <div class="container">
          <ion-grid>
            <pre></pre>
            <ion-row>
              <ion-label
                style="font-size: x-large; text-align: center; width: 100%"
                >WOD Category</ion-label
              >
            </ion-row>

            <ion-row>
              <div style="margin-left: auto; margin-right: auto">
                <ion-select
                  placeholder="Select Category"
                  style="font-size: x-large; text-align: center; width: 100%"
                  id="wodCat"
                  type="text"
                  name="wodCat"
                  [(ngModel)]="tabataData.wodCat"
                  required
                >
                  <ion-select-option value="Warm Up" style="text-align: center"
                    >Warm Up</ion-select-option
                  >
                  <ion-select-option value="WOD">WOD</ion-select-option>
                </ion-select>
              </div>
            </ion-row>
            <pre></pre>
            <ion-row style="text-align: center">
              <ion-col>
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                  >Tabata Number</ion-label
                >
              </ion-col>
              <ion-col>
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                  >MPT</ion-label
                >
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <div style="margin-left: auto; margin-right: auto">
                  <ion-input
                    placeholder="0"
                    style="font-size: x-large; text-align: center; width: 100%"
                    type="number"
                    name="tabatanums"
                    [(ngModel)]="numtabat"
                    (ngModelChange)="onNumberChange($event)"
                   
                    min="1"
                    [value]="numtabat === null ? '' : numtabat"
                    required
                  >
                  </ion-input>
                </div>
              </ion-col>
              <ion-col>
                <div style="margin-left: auto; margin-right: auto">
                  <ion-input
                    placeholder="0"
                    style="font-size: x-large; text-align: center; width: 100%"
                    type="number"
                    name="mpt"
                    [(ngModel)]="mpts"
                    [(ngModel)]="tabataData.mpt"
                    max="2"
                    min="1"
                    required
                  >
                  </ion-input>
                </div>
              </ion-col>
            </ion-row>
            <pre></pre>
            <!--t1-->
            <div>
              <ion-row>
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                  >Tabata 1</ion-label
                >
              </ion-row>
              <ion-row style="text-align: center">
                <ion-col style="text-align: center; width: 50%">
                  <ion-input
                    *ngIf="mpts > 0"
                    placeholder="M1"
                    [(ngModel)]="tabataData.t1m1"
                    (click)="openMoveSelection('t1m1')"
                    readonly
                    style="
                      font-size: x-large;
                      text-align: center;
                      width: 100%;
                      color: #b27600;
                      padding-left: 30%;
                      border-color: #b27600; /* Border color */
                      border-style: solid;   /* Border style */
                      border-radius: 10px;   /* Border radius */
                      border-width: 2px;     /* Border width */
                    "
                  ></ion-input>
                </ion-col>
                <ion-col style="text-align: center; width: 50%">
                  <ion-input
                    *ngIf="mpts > 1"
                    placeholder="M2"
                    [(ngModel)]="tabataData.t1m2"
                    (click)="openMoveSelection('t1m2')"
                    readonly
                    style="
                      font-size: x-large;
                      text-align: center;
                      width: 100%;
                      color: #b27600;
                      padding-left: 30%;
                      border-color: #b27600; /* Border color */
                      border-style: solid;   /* Border style */
                      border-radius: 10px;   /* Border radius */
                      border-width: 2px;     /* Border width */
                    "
                  ></ion-input>
                </ion-col>
              </ion-row>
              <ion-row> </ion-row>
            </div>
            <!--t2-->
            <pre></pre>
            <div id="t2" *ngIf="numtabat !== null && numtabat > 1">
              <ion-row>
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                >Tabata 2</ion-label>
              </ion-row>
              <ion-row style="text-align: center">
                <ion-col style="text-align: center; width: 50%">
                  <ion-input
                    *ngIf="mpts > 0"
                    placeholder="M1"
                    [(ngModel)]="tabataData.t2m1"
                    (click)="openMoveSelection('t2m1')"
                    readonly
                    style="
                      font-size: x-large;
                      text-align: center;
                      width: 100%;
                      color: #b27600;
                      padding-left: 30%;
                      border-color: #b27600; /* Border color */
                      border-style: solid;   /* Border style */
                      border-radius: 10px;   /* Border radius */
                      border-width: 2px;     /* Border width */
                    "
                  ></ion-input>
                </ion-col>
                <ion-col style="text-align: center; width: 50%">
                  <ion-input
                    *ngIf="mpts > 1"
                    placeholder="M2"
                    [(ngModel)]="tabataData.t2m2"
                    (click)="openMoveSelection('t2m2')"
                    readonly
                    style="
                      font-size: x-large;
                      text-align: center;
                      width: 100%;
                      color: #b27600;
                      padding-left: 30%;
                      border-color: #b27600; /* Border color */
                      border-style: solid;   /* Border style */
                      border-radius: 10px;   /* Border radius */
                      border-width: 2px;     /* Border width */
                    "
                  ></ion-input>
                </ion-col>
              </ion-row>
              <ion-row> </ion-row>
            </div>
            <!--t3-->
            <pre></pre>
            <div id="t3" *ngIf="numtabat !== null && numtabat > 2">
              <ion-row>
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                >Tabata 3</ion-label>
              </ion-row>
              <ion-row style="text-align: center">
                <ion-col style="text-align: center; width: 50%">
                  <ion-input
                    *ngIf="mpts > 0"
                    placeholder="M1"
                    [(ngModel)]="tabataData.t3m1"
                    (click)="openMoveSelection('t3m1')"
                    readonly
                    style="
                      font-size: x-large;
                      text-align: center;
                      width: 100%;
                      color: #b27600;
                      padding-left: 30%;
                      border-color: #b27600; /* Border color */
                      border-style: solid;   /* Border style */
                      border-radius: 10px;   /* Border radius */
                      border-width: 2px;     /* Border width */
                    "
                  ></ion-input>
                </ion-col>
                <ion-col style="text-align: center; width: 50%">
                  <ion-input
                    *ngIf="mpts > 1"
                    placeholder="M2"
                    [(ngModel)]="tabataData.t3m2"
                    (click)="openMoveSelection('t3m2')"
                    readonly
                    style="
                      font-size: x-large;
                      text-align: center;
                      width: 100%;
                      color: #b27600;
                      padding-left: 30%;
                      border-color: #b27600; /* Border color */
                      border-style: solid;   /* Border style */
                      border-radius: 10px;   /* Border radius */
                      border-width: 2px;     /* Border width */
                    "
                  ></ion-input>
                </ion-col>
              </ion-row>
              <ion-row> </ion-row>
            </div>
<!-- t4 -->
<pre></pre>
<div id="t4" *ngIf="numtabat !== null && numtabat > 3">
  <ion-row>
    <ion-label
      style="font-size: x-large; text-align: center; width: 100%"
    >Tabata 4</ion-label>
  </ion-row>
  <ion-row style="text-align: center">
    <ion-col style="text-align: center; width: 50%">
      <ion-input
        *ngIf="mpts > 0"
        placeholder="M1"
        [(ngModel)]="tabataData.t4m1"
        (click)="openMoveSelection('t4m1')"
        readonly
        style="
          font-size: x-large;
          text-align: center;
          width: 100%;
          color: #b27600;
          padding-left: 30%;
          border-color: #b27600; /* Border color */
          border-style: solid;   /* Border style */
          border-radius: 10px;   /* Border radius */
          border-width: 2px;     /* Border width */
        "
      ></ion-input>
    </ion-col>
    <ion-col style="text-align: center; width: 50%">
      <ion-input
        *ngIf="mpts > 1"
        placeholder="M2"
        [(ngModel)]="tabataData.t4m2"
        (click)="openMoveSelection('t4m2')"
        readonly
        style="
          font-size: x-large;
          text-align: center;
          width: 100%;
          color: #b27600;
          padding-left: 30%;
          border-color: #b27600; /* Border color */
          border-style: solid;   /* Border style */
          border-radius: 10px;   /* Border radius */
          border-width: 2px;     /* Border width */
        "
      ></ion-input>
    </ion-col>
  </ion-row>
  <ion-row> </ion-row>
</div>

<!-- t5 -->
<pre></pre>
<div id="t5" *ngIf="numtabat !== null && numtabat > 4">
  <ion-row>
    <ion-label
      style="font-size: x-large; text-align: center; width: 100%"
    >Tabata 5</ion-label>
  </ion-row>
  <ion-row style="text-align: center">
    <ion-col style="text-align: center; width: 50%">
      <ion-input
        *ngIf="mpts > 0"
        placeholder="M1"
        [(ngModel)]="tabataData.t5m1"
        (click)="openMoveSelection('t5m1')"
        readonly
        style="
          font-size: x-large;
          text-align: center;
          width: 100%;
          color: #b27600;
          padding-left: 30%;
          border-color: #b27600; /* Border color */
          border-style: solid;   /* Border style */
          border-radius: 10px;   /* Border radius */
          border-width: 2px;     /* Border width */
        "
      ></ion-input>
    </ion-col>
    <ion-col style="text-align: center; width: 50%">
      <ion-input
        *ngIf="mpts > 1"
        placeholder="M2"
        [(ngModel)]="tabataData.t5m2"
        (click)="openMoveSelection('t5m2')"
        readonly
        style="
          font-size: x-large;
          text-align: center;
          width: 100%;
          color: #b27600;
          padding-left: 30%;
          border-color: #b27600; /* Border color */
          border-style: solid;   /* Border style */
          border-radius: 10px;   /* Border radius */
          border-width: 2px;     /* Border width */
        "
      ></ion-input>
    </ion-col>
  </ion-row>
  <ion-row> </ion-row>
</div>

<!-- t6 -->
<pre></pre>
<div id="t6" *ngIf="numtabat !== null && numtabat > 5">
  <ion-row>
    <ion-label
      style="font-size: x-large; text-align: center; width: 100%"
    >Tabata 6</ion-label>
  </ion-row>
  <ion-row style="text-align: center">
    <ion-col style="text-align: center; width: 50%">
      <ion-input
        *ngIf="mpts > 0"
        placeholder="M1"
        [(ngModel)]="tabataData.t6m1"
        (click)="openMoveSelection('t6m1')"
        readonly
        style="
          font-size: x-large;
          text-align: center;
          width: 100%;
          color: #b27600;
          padding-left: 30%;
          border-color: #b27600; /* Border color */
          border-style: solid;   /* Border style */
          border-radius: 10px;   /* Border radius */
          border-width: 2px;     /* Border width */
        "
      ></ion-input>
    </ion-col>
    <ion-col style="text-align: center; width: 50%">
      <ion-input
        *ngIf="mpts > 1"
        placeholder="M2"
        [(ngModel)]="tabataData.t6m2"
        (click)="openMoveSelection('t6m2')"
        readonly
        style="
          font-size: x-large;
          text-align: center;
          width: 100%;
          color: #b27600;
          padding-left: 30%;
          border-color: #b27600; /* Border color */
          border-style: solid;   /* Border style */
          border-radius: 10px;   /* Border radius */
          border-width: 2px;     /* Border width */
        "
      ></ion-input>
    </ion-col>
  </ion-row>
  <ion-row> </ion-row>
</div>

<!-- t7 -->
<pre></pre>
<div id="t7" *ngIf="numtabat !== null && numtabat > 6">
  <ion-row>
    <ion-label
      style="font-size: x-large; text-align: center; width: 100%"
    >Tabata 7</ion-label>
  </ion-row>
  <ion-row style="text-align: center">
    <ion-col style="text-align: center; width: 50%">
      <ion-input
        *ngIf="mpts > 0"
        placeholder="M1"
        [(ngModel)]="tabataData.t7m1"
        (click)="openMoveSelection('t7m1')"
        readonly
        style="
          font-size: x-large;
          text-align: center;
          width: 100%;
          color: #b27600;
          padding-left: 30%;
          border-color: #b27600; /* Border color */
          border-style: solid;   /* Border style */
          border-radius: 10px;   /* Border radius */
          border-width: 2px;     /* Border width */
        "
      ></ion-input>
    </ion-col>
    <ion-col style="text-align: center; width: 50%">
      <ion-input
        *ngIf="mpts > 1"
        placeholder="M2"
        [(ngModel)]="tabataData.t7m2"
        (click)="openMoveSelection('t7m2')"
        readonly
        style="
          font-size: x-large;
          text-align: center;
          width: 100%;
          color: #b27600;
          padding-left: 30%;
          border-color: #b27600; /* Border color */
          border-style: solid;   /* Border style */
          border-radius: 10px;   /* Border radius */
          border-width: 2px;     /* Border width */
        "
      ></ion-input>
    </ion-col>
  </ion-row>
  <ion-row> </ion-row>
</div>

           <!-- t8 -->
<pre></pre>
<div id="t8" *ngIf="numtabat !== null && numtabat > 7">
  <ion-row>
    <ion-label
      style="font-size: x-large; text-align: center; width: 100%"
    >Tabata 8</ion-label>
  </ion-row>
  <ion-row style="text-align: center">
    <ion-col style="text-align: center; width: 50%">
      <ion-input
        *ngIf="mpts > 0"
        placeholder="M1"
        [(ngModel)]="tabataData.t8m1"
        (click)="openMoveSelection('t8m1')"
        readonly
        style="
          font-size: x-large;
          text-align: center;
          width: 100%;
          color: #b27600;
          padding-left: 30%;
          border-color: #b27600; /* Border color */
          border-style: solid;   /* Border style */
          border-radius: 10px;   /* Border radius */
          border-width: 2px;     /* Border width */
        "
      ></ion-input>
    </ion-col>
    <ion-col style="text-align: center; width: 50%">
      <ion-input
        *ngIf="mpts > 1"
        placeholder="M2"
        [(ngModel)]="tabataData.t8m2"
        (click)="openMoveSelection('t8m2')"
        readonly
        style="
          font-size: x-large;
          text-align: center;
          width: 100%;
          color: #b27600;
          padding-left: 30%;
          border-color: #b27600; /* Border color */
          border-style: solid;   /* Border style */
          border-radius: 10px;   /* Border radius */
          border-width: 2px;     /* Border width */
        "
      ></ion-input>
    </ion-col>
  </ion-row>
  <ion-row> </ion-row>
</div>

            <pre></pre>
            <ion-row class="ion-justify-content-center ion-align-items-center">
              <ion-row class="ion-justify-content-center" style="width: 100%">
                <ion-label style="font-size: x-large; display: block"
                  >Select a Date:</ion-label
                >
              </ion-row>
              <ion-row>
                <div style="margin-left: auto; margin-right: auto">
                  <ion-input
                    style="
                      font-size: x-large;
                      text-align: center;
                      color: #b27600;
                    "
                    type="date"
                    name="daDate"
                    id="daDate"
                    [(ngModel)]="tabataData.daDate"
                  ></ion-input>
                </div>
              </ion-row>
            </ion-row>
            <div *ngIf="showErrorCard" class="error-card">
              <div class="error-message">
                A Wod with the same date and category already exists.
              </div>
              <button (click)="hideErrorCard()" class="close-btn">Close</button>
            </div>

            <ion-row>
              <div
                style="
                  text-align: center;
                  margin-left: auto;
                  margin-right: auto;
                "
              >
                <ion-button
                  style="
                    font-size: xx-large;
                    margin-left: auto;
                    margin-right: auto;
                    border-radius: 10%;
                    background-color: aliceblue;
                  "
                  type="submit"
                  [disabled]="!tabataData.wodCat || !tabataData.daDate || !tabataData.t1m1"
                  (click)="submitForm()"
                  >Add WOD</ion-button
                >
              </div>
            </ion-row>
          </ion-grid>
        </div>
      </ion-card>
    </ion-row>
  </div>
</ion-content>
