

<ion-content [fullscreen]="true" style="--ion-background-color: black">



  <ion-grid class="daback">
    <br>
    <ion-row>
      <div class="logocon">
        <ion-img src="assets/imgs/WODBOX ICON@2x.png" id="logo"></ion-img>
        
      </div>
    
    </ion-row>

<br>
    <ion-row class="ion-align-items-center" >
      <ion-col size-md="6" style="text-align: center;"><ion-button color="warning" shape="round" (click)="onLogout()">logout</ion-button></ion-col>
      <ion-col size-md="6" style="text-align: center;"><ion-button color="warning" shape="round" (click)="todaAdduser()">+User</ion-button></ion-col>
      <ion-col size-md="6" style="text-align: center;"><ion-button color="warning" shape="round" (click)="todaAddwod()">+WOD</ion-button></ion-col>
    </ion-row>
    <pre></pre>
    <ion-row >
      <ion-col></ion-col>
      <ion-col style="text-align: center; color:#b27600; font-size: xx-large;font-weight: 600;">WODs</ion-col>
      <ion-col></ion-col>
    </ion-row>
    <pre></pre>
    <ion-row *ngIf="combinedWorkouts.length > 0">
      <ion-card 
        *ngFor="let item of combinedWorkouts"
        [style.background-color]="getCardBackground(item)"
        (click)="onCardClick(item)"
        style="margin-left: auto; margin-right: auto; width: 100%; color: black; font-size: x-large;" >
        <ion-card-header>
          <ion-card-subtitle style="text-align: left; color:black; font-size: x-large;">{{item.daDate}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-label style="font-size:x-large;">{{item.wodCat}}</ion-label><br>
          <ion-label style="font-size:large;">Style {{item.wodStyle}}</ion-label><br>
          <ion-label style="font-size:large;">Rounds {{item.rounds || item.tabataNum || item.ladderNum || item.emomNum || item.amrapNum}}</ion-label><br>
          <ion-label style="font-size:large;">MPR {{item.mpr || item.mpt || item.mpl || item.mpe || item.mpa}}</ion-label><br>
        </ion-card-content>
        <button class="dltbtn" (click)="deleteItem(item, $event)" style="text-align: end; background-color: #b27600; color:black;">
          <ion-icon name="trash-outline" size="large" style="background-color: #b27600; border-radius: 10px;"></ion-icon>
        </button>
      </ion-card>
    </ion-row>
    

    
  </ion-grid>
 
</ion-content>
