

<ion-content [fullscreen]="true" style="--ion-background-color: black">



  <ion-grid class="daback">
    <br>
    <ion-row>
      <div class="logocon">
        <ion-img src="assets/imgs/WODBOX ICON@2x.png" id="logo"></ion-img>
        
      </div>
    
    </ion-row>

<br>
    <ion-row class="ion-align-items-center" >
      <ion-col size-md="6" style="text-align: center;"><ion-button shape="round" (click)="logout()">logout</ion-button></ion-col>
      <ion-col size-md="6" style="text-align: center;"><ion-button shape="round" (click)="todaAdduser()">+User</ion-button></ion-col>
      <ion-col size-md="6" style="text-align: center;"><ion-button shape="round" (click)="todaAddwod()">+WOD</ion-button></ion-col>
    </ion-row>
    <pre></pre>
    <ion-row >
      <ion-col></ion-col>
      <ion-col style="text-align: center; color:#b27600; font-size: xx-large;font-weight: 600;">WODs</ion-col>
      <ion-col></ion-col>
    </ion-row>
    <pre></pre>
    <ion-row *ngIf="workouts.length > 0">
      <ion-label style="text-align: center; color:#b27600; font-size: xx-large;">INTERVAL</ion-label>
      <ion-card 
      *ngFor="let workout of workouts"
      [style.background-color]="intervalCard(workout.daDate)"

      (click)="onCardClick(workout?.id)"
      style="margin-left: auto; margin-right: auto; width: 100%; color: black; font-size: x-large;" >
        <ion-card-header >
          <ion-card-subtitle style="color: black;font-size:medium;">{{workout.daDate}}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <ion-label style="font-size:x-large;">{{workout.wodCat}}</ion-label><br>
          <ion-label style="font-size:large;">Style {{workout.wodStyle}} </ion-label><br>
          <ion-label style="font-size:large;">Rounds {{workout.rounds}} </ion-label><br>
          <ion-label style="font-size:large;">MPR {{workout.mpr}} </ion-label><br>

        </ion-card-content>
        <button class="dltbtn" (click)="deleteWorkout(workout.id)" style="text-align: end;background-color: #b27600; color:black ; "><ion-icon name="trash-outline" size="large" style="background-color: #b27600;border-radius: 10px;"></ion-icon></button>
      </ion-card>
      
    </ion-row>
    <pre></pre>
    <!--tabata-->
    <ion-row *ngIf="tabatas.length > 0">
      <ion-label style="text-align: center; color:#b27600; font-size: xx-large;">TABATA</ion-label>
      <ion-card 
      *ngFor="let tabata of tabatas"
      [style.background-color]="tabataCard(tabata.daDate)"
      (click)="tabataClick(tabata.id)"
      style="margin-left: auto; margin-right: auto; width: 100%; color: black; font-size: x-large;" >
        <ion-card-header >
       
          <ion-card-subtitle style="color: black;font-size:medium;">{{tabata.daDate}}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <ion-label style="font-size:x-large;">{{tabata.wodCat}}</ion-label><br>
          <ion-label style="font-size:large;">Style {{tabata.wodStyle}} </ion-label><br>
          <ion-label style="font-size:large;">Number {{tabata.tabataNum}} </ion-label><br>
          <ion-label style="font-size:large;">MPR {{tabata.mpt}} </ion-label><br>

        </ion-card-content>
        <button class="dltbtn" (click)="deleteTabata(tabata.id)" style="text-align: end;background-color: #b27600; color:black ; "><ion-icon name="trash-outline" size="large" style="background-color: #b27600;border-radius: 10px;"></ion-icon></button>
      </ion-card>
      
    </ion-row>
    <pre></pre>
     <!--ladder-->
    <ion-row *ngIf="ladders.length > 0">
      <ion-label style="text-align: center; color:#b27600; font-size: xx-large;">LADDER</ion-label>
      <ion-card 
      *ngFor="let ladder of ladders"
      style="margin-left: auto; margin-right: auto; width: 100%; background-color: #b27600; color: black; font-size: x-large;" >
        <ion-card-header >
          <ion-card-title style="color: black;">{{ladder.id}}</ion-card-title>
          <ion-card-subtitle style="color: black;font-size:medium;">{{ladder.daDate}}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <ion-label style="font-size:x-large;">{{ladder.wodCat}}</ion-label><br>
          <ion-label style="font-size:large;">Style {{ladder.wodStyle}} </ion-label><br>
          <ion-label style="font-size:large;">Number {{ladder.ladderNum}} </ion-label><br>
          <ion-label style="font-size:large;">MPR {{ladder.mpl}} </ion-label><br>

        </ion-card-content>
        <button (click)="deleteLadder(ladder.id)" style="text-align: end;background-color: #b27600; color:black ; padding-left: 90%;"><ion-icon name="trash-outline" size="large" style="background-color: #b27600;"></ion-icon></button>
      </ion-card>
      
    </ion-row>
  </ion-grid>
 
</ion-content>
