<!-- video-modal.component.html -->
<ion-header>
  <ion-toolbar>

    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="daBack">
  <ion-grid *ngFor="let workout of specificWorkouts">

    <ion-row class="ion-justify-content-center" *ngIf="workout.exe">
      
      <pre></pre>
      <video
        controls
        *ngIf="workout.exe.videoUrl"
        autoplay
        loop
        style="border-radius: 20px;"

      >
        <source [src]="workout.exe.videoUrl" type="video/mp4" />
        <!-- Add more <source> elements for different video formats if needed -->
        Your browser does not support the video tag.
      </video>
    </ion-row>
  </ion-grid>
</ion-content>
