/* friends.component.scss */

ion-content{
  --ion-padding-start: 0;
  --ion-padding-end: 0;
  --ion-safe-area-top: 0;
  --ion-safe-area-bottom: 0;
  border-style: solid;
  border-color: #b27600;
  --ion-background-color: linear-gradient(
      to bottom,
      black 0%,
      black 50%,                                                                 
      black 50%,       
      #b27600 100%
  );
}
.wodbod{
  background-color: #b27600;
  border-radius: 80px;
  --ion-background-color: #b27600;
  box-shadow: 0 0 20px 5px black;
}
.custom-searchbar {
  border-radius: 20px;
  color: #FFCC00;
}
ion-button{
  
  --border-radius: 20px;
}
.frlbl {
  width: 100%;
  color: #FFFFFF;
  font-size: small;
  white-space: nowrap; /* Prevents text from wrapping */
  //overflow: hidden; /* Prevents content from overflowing */
 // text-overflow: ellipsis; /* Adds "..." if text is too long */
}

.frbtn{
  font-size: xx-small;
  width: auto;
}
