<ion-content class="daBack">
  <ion-grid *ngFor="let laddder of sladders">
    <ion-row class="ion-justify-content-center" *ngIf="laddder.exel3m1">
      <video
        class="full-screen-video"
        *ngIf="laddder.exel3m1.videoUrl"
        autoplay
        loop
        muted
      >
        <source [src]="laddder.exel3m1.videoUrl" type="video/mp4" />
        <!-- Add more <source> elements for different video formats if needed -->
        Your browser does not support the video tag.
      </video>
    </ion-row>
  </ion-grid>    
</ion-content>