

<ion-content [fullscreen]="true" style="--ion-background-color: black">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-card style="width: 100%">
        <form (ngSubmit)="signUp()" #userForm="ngForm">
          <div class="container">
            <pre></pre>
            <div class="row">
              <div class="logocon">
                <ion-img
                  src="assets/imgs/WODBOX ICON@2x.png"
                  id="logo"
                ></ion-img>
              </div>
            </div>
            <div class="row">
              <h1
              style="text-align: center; color: #b27600; font-size: xxx-large"
            >
              <b style="font-size:xxx-large ;color: #b25900;">W</b>OD<b style="font-size:xxx-large ; color: #b25900;">B</b>OX
            </h1>            </div>
            <pre></pre>
            <div class="row">
              <h1 style="text-align: center; color: #b27600; font-weight: 600;">Add User</h1>
            </div>
            <pre></pre>
            <div>
              <ion-input
                type="email"
                name="email"
                style="font-size: large;
                text-align: center;
                border: #b27600;
                border-style: solid;
                border-radius: 10px;
                width: 70%;
                height: 52px;
                margin-left: auto;
                margin-right: auto;
                background-color: transparent;
                "
                placeholder="Username"
                [(ngModel)]="email"
                required
              ></ion-input>
            </div>
            <pre></pre>
            <div>
              <ion-input
                type="password"
                name="password"
                style="font-size: large;
                text-align: center;
                border: #b27600;
                border-style: solid;
                border-radius: 10px;
                width: 70%;
                height: 52px;
                margin-left: auto;
                margin-right: auto;
                background-color: transparent;"
                placeholder="Password"
                [(ngModel)]="password"
                required
              ></ion-input>
            </div>
            <pre></pre>
            <pre></pre>
            <ion-row class="ion-justify-content-center">
            
              
              <ion-select
              type="text"
              name="usertype"
              style=" text-align: center;
              border: #b27600;
              border-style: solid;
              border-radius: 10px;
              width: 70%;
              font-size: x-large;
              height: 52px;
              padding-left: 7%;
              margin-left: auto;
              margin-right: auto;
              background-color: transparent;"
              placeholder="Select User Type"
              [(ngModel)]="usertype"
              required>
                <ion-select-option value="admin">Admin</ion-select-option>
                <ion-select-option value="client">Client</ion-select-option>
              </ion-select>
              <pre></pre>
            </ion-row>
            <pre></pre>
            <div style="text-align: center">
              <ion-button color="#b27600"
                style="
                  font-size: x-large;
                  margin-left: auto;
                  margin-right: auto;
                  border-radius: 10px;
                  background-color:#b27600;
                  color: aliceblue;
                  width: 90%;
                  height: 70px;
                "
                type="submit"
                [disabled]="!email || !password || !usertype"
                >Create Account</ion-button
              >
            </div>
          </div>
        </form>
        <br />
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
