<ion-content class="daBack">
  <ion-grid *ngFor="let amrap of samraps">
    <ion-row class="ion-justify-content-center" *ngIf="amrap.exe">
      <video
        class="full-screen-video"
        *ngIf="amrap.exe.videoUrl"
        autoplay
        loop
        muted
      >
        <source [src]="amrap.exe.videoUrl" type="video/mp4" />
        <!-- Add more <source> elements for different video formats if needed -->
        Your browser does not support the video tag.
      </video>
    </ion-row>
  </ion-grid>
</ion-content>
