.logocon{
  
    margin-left: auto;
    margin-right: auto;

}
#logo{
    width:80%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    margin-bottom: 7%;
}
ion-col{
    text-align: center;
}
ion-select{
    color: #b27600;
}
.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-picture {
    width: 220px; /* Adjust as needed */
    height: 220px; /* Adjust as needed */
    border-radius: 50%; /* Makes the image circular */
    border: 2px solid #b27600; /* Corrected border syntax */
    object-fit: cover; /* Ensures the image covers the entire circle */
    margin: 0 auto; /* Centers the image horizontally */
    display: block; /* Ensures the image is displayed as a block element */
  }